[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
opencv-python = "*"
torchvision = "*"
fuel = "*"
progressbar = "*"
six = "*"
"h5py" = "*"
tqdm = "*"
scikit-learn = "*"
matplotlib = "*"
tensorboard = "*"
future = "*"

[dev-packages]

[requires]
python_version = "3.6"
